.imagen-usuario-notificacion{
    width: 20px;
    height: 20px;
}

.imagen-calendario-notificacion{
    width: 20px;
    height: 20px;
}

.imagen-visto-notificacion{
    width: 20px;
    height: 20px;
}

