.bg-body-tertiary {
    background-color: var(--color-secundario) !important;
    /*color: white !important;*/
    
}

.navbar-brand{
    /*color: white !important;*/
    font-size: 30px;
    font-weight: 500;
}

.nav-link{
    font-size: 20px;
    font-weight: 500;
}

img{
    width: 170px;
    height: auto;
}

.cardd{
    position: relative;
    text-align: center;
}

.usuario{
    position: absolute;
    right: 10px;
}

.dropdown-menu[data-bs-popper]{
    left: -90px;
}

.dropdown-menu{
    --bs-dropdown-bg: #037731;
    --bs-dropdown-color: var(--color-primario);
    --bs-dropdown-link-color: var(--color-primario);
    --bs-dropdown-link-hover-bg: #14b353;
    --bs-dropdown-link-active-bg: #14b353;
}