.modal-seleccionar-carta-content {
    border-radius: 10px;
    background-color: #1A1B1E !important;
}

.imagen-modal-seleccionar-carta {
    width: 130px;
    height: 185px;
    object-fit: contain;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.imagen-modal-seleccionar-carta:hover {
    transform: scale(1.05);
}

.modal-seleccionar-carta-dialog {
    max-width: 900px;
}

.seleccionada-wrapper {
    transform: translateY(-4px);
}

.cursor-pointer {
    cursor: pointer;
}